$main-color: #20314c;

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

body {
  background-color: #eee;
  height: 100vh;
  margin: 0;
  @extend .flex;
  @extend .column;
}

.container {
  @extend .flex;
  background-color: #eee;

  h1 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    color: $main-color;
  }
}

footer span {
  color: $main-color;
}
