.flex, body, .container {
  display: flex;
  justify-content: center;
  align-items: center; }

.column, body {
  flex-direction: column; }

body {
  background-color: #eee;
  height: 100vh;
  margin: 0; }

.container {
  background-color: #eee; }
  .container h1 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    color: #20314c; }

footer span {
  color: #20314c; }
